body {
	color: black;
	font-family: Montserrat;
	font-weight: 500;
	list-style: none;
	width: 100%;
}


.center {
	text-align: center;
	border-color: black;
	border-width: 2px;
	}
.left {
	text-align: left;
	border-color: black;
	border-width: 2px;
}
.right {
	text-align: right;
	border-color: black;
	border-width: 2px;
}
.outside {
	list-style: disc;
	font-size: 18px;
}


div {
	display: block;
	text-align: center;
	padding: 50;
}
.container {  display: grid;
  grid-template-columns: 10% 80% 5% 5%; 
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "img0 img1 img2 img3";
}
.img0 { grid-area: img0; text-align: left; background-color: #E6E7F7;}

.img1 { grid-area: img1; text-align: left; background-color: #E6E7F7;}

.img2 { grid-area: img2; text-align: center; background-color: #E6E7F7;}

.img3 { grid-area: img3; text-align: center; background-color: #E6E7F7;}

.highlight {
	color: #0F44EF;
}